$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

@font-face {
    font-family: "Myriad";
    src: url(../fonts/MyriadPro-Regular.otf); 
 }

$open_sans: 'Open Sans', sans-serif;
$open_sans_condensed: 'Open Sans Condensed', sans-serif;

body {
    font-family: $open_sans;
}

header {
    position: relative;
    background-color: #1fa3ff;
    height: 66px;

    ul {
        
        margin-top: 10px;
        margin-right: 13%;
        
        li {

            padding-left: 10px!important;
            padding-right: 10px!important;

            &:hover {
                background-color: #3fba02;
            }           
        }

        a {
            color: #fff;
            font-size: 18px;
            text-align: left;
            text-transform: uppercase;
            line-height: 43px;
            
            &:hover {
            text-decoration: none;
            color: #fff;
            }

            &:focus {
                text-decoration: none;
                color: #fff;
            }
        }

        @media (max-width: 580px) {
            li {
                padding-left: 5px!important;
                padding-right: 5px!important;
            }

            li:first-child {
                padding-left: 15px!important;
            }

            a {
                font-size: 16px;
            }
        }

        @media (max-width: 481px) {
            
            li:first-child {
                padding-left: 10px!important;
            }

            a {
                font-size: 14px;
            }
        }
        
    }

  .logo {
      position: absolute;
      left: 160px;
      top: 11px;
      z-index: 10;
  }

}

@media (max-width: 1200px) {
   header .logo {
      left: 50px;
  }
}

@media (max-width: 1070px) {
   header .logo {
      left: 5px;
  }
}

@media (max-width: 1020px) {
   header .logo {
      display: none;
  }
}

.section-top {
    position: relative;
    background-image: url(../images/top-bg.png);
    height: 639px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .banner {
        width: 80%;
        height: 110px;
        position: absolute;
        top: 385px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #040002;
        opacity: 0.66;

        h2 {
            color: #fff;
            font-family: "Myriad";
            font-size: 48px;
            text-transform: uppercase;
            position: relative;
            top: 25%;
            margin: 0;
            margin-left: 14%;
            margin-top: 5px;
        }
            
        p {
            position: relative;
            top: 25%;
            line-height: 60px;
            background-color: #3fba02;
            color: #fff;
            border: none;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 24px;
            text-transform: uppercase;
            margin-right: 5%;
            cursor: pointer;

        }

        @media (max-width: 1225px) { 
            
            p {
                margin-right: 1%;
            }

            h2 {
                margin-left: 3%;
            }
        }

         @media (max-width: 1030px) { 
             p {
                font-size: 20px;
            }

            h2 {
                font-size: 40px;
                margin-top: 10px;
            }
         }

         @media (max-width: 870px) { 
             p {
                font-size: 18px;
            }

            h2 {
                font-size: 30px;
                margin-top: 15px;
            }
         }

         @media (max-width: 700px) { 
             p {
                font-size: 16px;
            }

            h2 {
                font-size: 22px;
                margin-top: 20px;
            }
         }

         @media (max-width: 550px) { 
             p {
                 float: none!important;
                 margin-left: 20px;
                 margin-right: 20px;
                 text-align: center;
            }

            h2 {
                display: none;
            }
         }

    }
}

.section-lessons {
    background-image: url(../images/lessons-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 25px;

    h2 {
        color: #444;
        font-family: $open_sans_condensed;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 35px;
        margin-bottom: 26px;
        margin-left: 35px;
    }

    .lesson {
        background-color: #fff;
        text-align: center;
        position: relative;
        height: 443px;

          h3 {
            color: #fff;
            font-size: 24px;
            font-family: $open_sans_condensed;
            font-weight: 700;
            text-transform: uppercase;
            background-color: #28ade4;
            line-height: 55px;
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .lesson-header {
            width: 88%;
            margin: 0 auto;
            position: relative;
            top: -10px;

            .img-wrapper {
                display: inline-block;
            }
        }

        p {
            padding: 0 22px; 
            max-height: 120px;
            overflow: hidden;
        }

        button {
            border-radius: 1px;
            text-transform: uppercase;
        }

    }
}

.section-school {

    h2 {
        color: #444;
        font-family: $open_sans_condensed;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 35px;
        margin-bottom: 26px;
        margin-left: 35px;
    }

    p {
        padding-left: 35px;
        padding-right: 35px;
    }

    .picture {
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 35px;

        img {
            margin: 0 auto;
        }
    }
}

.section-gallery {
    
    h2 {
        color: #444;
        font-family: $open_sans_condensed;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 35px;
        margin-left: 35px;
    }

    .picture {
        margin: 0 auto;
        margin-bottom: 58px;
    }

    .row {
        padding-left: 35px;
    }
}

.section-sign_up {
    height: 136px;
    background-image: url(../images/lessons-bg.png);
    position: relative;

    h2 {
        position: relative;
        top: 25%;
        margin: 0;
        color: #555;
        font-size: 40px;
        font-weight: 300;
        line-height: 59px;
        text-transform: uppercase;
        margin-left: 15%;
    }

    p {
        position: relative;
        top: 25%;
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        line-height: 60px;
        text-transform: uppercase;
        background-color: #3fba02;
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 15%;
    }

    @media (max-width: 1150px) {
       
        h2 {
             margin-left: 10%;
        }

        p {
            margin-right: 10%;
        }
    }

     @media (max-width: 998px) {
       
        h2 {
             margin-left: 5%;
        }

        p {
            margin-right: 5%;
        }
    }

    @media (max-width: 998px) {
       
        h2 {
             font-size: 30px;
        }

        p {
            font-size: 22px;
        }
    }

    @media (max-width: 750px) {
       
        h2 {
             font-size: 24px;
        }

        p {
            font-size: 18px;
        }
    }

    @media (max-width: 750px) {
       
        h2 {
             font-size: 24px;
        }

        p {
            font-size: 18px;
        }
    }

    @media (max-width: 630px) {
       
        h2 {
             font-size: 24px;
             margin-left: 2%;
        }

        p {
            font-size: 16px;
            margin-right: 2%;
        }
    }

    @media (max-width: 560px) {
       
        h2 {
             display: none;
        }

        p {
            font-size: 16px;
            margin-right: 20px;
            margin-left: 20px;
            float: none!important;
            text-align: center;
        }
    }

}

.section-contacts {

    background-color: #89cfff;
    border-bottom: 2px solid #fff;

    h3 {
        color: #fff;
        font-family: $open_sans_condensed;
        font-size: 30px;
        font-weight: 700;
        line-height: 59px;
        text-transform: uppercase;
    }

    h4 {
        color: #444;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 20px;
        
        &::first-child {
            margin-top: 10px;
        }
    }

    p {
        color: #444;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 0;
    }

    img {
        margin: 0;
        padding: 0;
    }

    .img-bg {
        background: #fff;
        padding: 10px;
        margin-bottom: 35px;
        display: inline-block;
    }

    .contact {
        padding-left: 30px;
        margin-bottom: 30px;
    }

}

footer {
     background-color: #89cfff;

     ul {
        margin-bottom: 0;
        text-align: center;

        li {

            padding-left: 10px!important;
            padding-right: 10px!important;

            a {
                line-height: 65px;
                color: #444;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;

                &:hover {
                    text-decoration: none;
                    color: #444;
                    }

                    &:focus {
                        text-decoration: none;
                        color: #444;
                    }
            }
        }
     }

}